<div class="container" id="comments-panel">
    <div class="row">
        <% @comments.each do |comment| %>
        <div class="col s6">
            
            <div class="card horizontal">
                <% if comment.anonymous %>
                <div class="card-image">
                    <img src="anonymous.jpg" width="150" height="150">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <b><p>Anonymous</p></b>
                        <p><%= comment.comment %></p>
                    </div>
                </div>
                <% else %>
                <div class="card-image">
                    <img src="users/<%=comment.user[:id]%>.jpeg" width="150" height="150">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <b><p><%= comment.user[:email] %></p></b>
                        <b><p><%= comment.user[:phone_number] %></p></b>
                        <p><%= comment.comment %></p>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
        <% end %>
    </div>
</div>