<div class="row" id="form-panel">
    <div class="z-depth-3 col s6 offset-s3">
        <% if @comment.errors.any? %>
        <ul>
        <% @comment.errors.full_messages.each do |message| %>
            <li>
                <div class="alert alert-danger"><%= message %></div>
            </li>
        <% end %>
        </ul>
        <% end %>

        <%= form_with(model: @comment, local: true) do |form| %>
            <h4 class="header">Send us your comment, please:</h4>
            <div class="input-field col s12">
                <%= form.text_area :comment, class: "materialize-textarea" %>
                <label for="textarea1">Write a comment</label>
                <p>
                    <label>
                        <%= form.check_box :anonymous, class: "filled-in" %>
                        <span>Don't post personal details</span>
                    </label>
                </p>
                <div class="right">
                <% if @user.nil? %>
                    <span data-yoti-application-id="<%= @yoti_application_id %>">
                        Login with Yoti to comment
                    </span>
                <% else %>
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Submit
                        <i class="material-icons right">send</i>
                    </button>
                <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>